<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Other Applications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <!-- List of Text Items -->
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>WhatsIs</h3>
            <p>Send WhatsApp Messages without Saving the contact number</p>
          </ion-label>
          
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>TRAI Channel Pricing</h3>
            <p>App to find the pricing details of all the channels and packages.</p>
          </ion-label>
          
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>